<!DOCTYPE html>
<html lang="es">
<head>

<meta charset="UTF-8">
<title>Panel Admin</title>

<style>

body{
    background:#0f172a;
    color:white;
    font-family:Arial;
    padding:30px;
}

h1{
    color:#38bdf8;
}

.card{

    background:#1e293b;
    padding:15px;
    border-radius:12px;
    margin-bottom:15px;

}

small{
    color:#94a3b8;
}

</style>

</head>

<body>

<h1>📊 Panel de Administración</h1>

<h2>👥 Visitantes únicos: {{ visitantes|length }}</h2>

{% for id, visitante in visitantes.items() %}

<div class="card">

<h3>👤 Visitante</h3>

<p>
<b>ID:</b><br>
{{ id }}
</p>

<p>
👁️ Visitas:
{{ visitante.visitas }}
</p>

<p>
📅 Primera visita:
{{ visitante.primera_visita }}
</p>

<p>
🕒 Última visita:
{{ visitante.ultima_visita }}
</p>

<p>
🌐 IPs utilizadas:
</p>

<ul>
{% for ip in visitante.ips %}
<li>{{ ip }}</li>
{% endfor %}
</ul>


<p>
📱 Navegadores:
</p>

<ul>
{% for navegador in visitante.navegadores %}
<li>{{ navegador }}</li>
{% endfor %}
</ul>


{% if visitante.bloqueado %}

<p style="color:red;">
🔴 Bloqueado
</p>

{% else %}

<p style="color:lime;">
🟢 Activo
</p>

{% endif %}



<br>

<a href="/bloquear/{{ id }}">
<button>
🚫 Bloquear
</button>
</a>

<a href="/desbloquear/{{ id }}">
<button>
🔓 Desbloquear
</button>
</a>

</div>

{% endfor %}

</body>
</html>
