<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Info Lookup</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<div class="container">


<h1>🌐 Info Lookup</h1>


<div class="tabs">

<button onclick="mostrarIP()" class="tab active">
🌐 IP
</button>


<button onclick="mostrarTelefono()" class="tab">
📱 Teléfono
</button>


</div>



<div class="search">


<input
id="entrada"
placeholder="8.8.8.8">


<button
id="buscar"
onclick="buscarIP()">

Buscar

</button>


</div>


<div class="lucas-box">

    <img
    id="lucas"
    src="/static/lucas_idle.png">

    <div id="lucas-dialogo">
        🦆 Hola, soy Lucas
    </div>

</div>

</div>



<div id="loading" class="cargando">

    <div class="panel-carga">

        <img src="/static/carga.png" class="imagen-carga">

        <h2>🔍 Buscando información...</h2>

        <div class="puntos">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>

</div>


<div id="resultado"></div>



<script src="/static/script.js"></script>

<img src="/static/personaje.jpg" class="personaje">

<img src="/static/personaje2.png" class="personaje-izquierda">

<div id="pantalla-bloqueo">

    <img
        id="lucas-bloqueado"
        src="/static/lucas_hacker.png">

    <h1>🦆 LUCAS SECURITY</h1>

    <h2>⚠ ACTIVIDAD SOSPECHOSA</h2>

    <div id="contador-bloqueo">
        03:00
    </div>

    <p id="mensaje-bloqueo">
        Has realizado demasiadas búsquedas.
    </p>

</div>

<img src="/static/waifu.png" class="personaje-recorre" id="personaje-recorre">

</body>
</html>
